<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout :: dynamic (~{::body})}">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <!--boostrap 4-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!--icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/73ae4a903f.js" crossorigin="anonymous"></script>
    <!--style-->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/loadingio/transition.css@v2.0.0/dist/transition.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/ChiTietSP.css">
</head>

<body th:each="p: ${item}">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/product">Sản phẩm</a></li>
        <li class="breadcrumb-item"><a href="#">[[${p.name}]]</a></li>
    </ul>
    <div class="soc-ngang"></div>
    <!--Nôi dung-->
    <div class="container" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <div class="row">
            <div class="cot-trai col-md-5">
                <img class="img-detail" th:src="@{|/images/${p.image}|}">
            </div>
            <div class="cot-phai col-md-7">
                <a class="textd-catename" href="#">[[${p.category.name}]]</a>
                <div class="textd-name">[[${p.name}]]</div>
                <div class="textd-cate">Mã SP: [[${p.Category.id}]]-[[${p.id}]]&emsp;&emsp;&emsp;&emsp;Doanh mục: <a
                        href="#">[[${p.category.name}]]</a></div>
                <div class="textd-nprice">[[${#numbers.formatDecimal(p.newprice,0,'COMMA',0,'POINT')}]]</div>
                <div class="textd-price">[[${#numbers.formatDecimal(p.price,0,'COMMA',0,'POINT')}]]</div>
                <div class="textd-damua">Số lượng đã mua: [[${p.damua}]]</div>

                <tfoot>
                    <button class="btn1" th:attr="ng-click=@{|cart.add(${p.id})|}">THÊM GIỎ HÀNG</button>
                    <button class="btn1">MUA NGAY</button>
                </tfoot>
            </div>
        </div>
    </div>
    <!--Nôi dung-->
    <!--asis-->
    <div class="container">
        <div class="soc-1">Bạn có thể thích</div>
        <div class="soc-ngang-detail"></div>
    </div>
    <!--asis-->

    <!-- sidebar -->
    <!-- Modal -->
    <!-- Gift -->
    <div class="modal ld ld-grow-btt-in" id="exampleModalGift" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabelGift" aria-hidden="true">
        <div class="modal-dialog " role="document" style="top: 20%; bottom: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelGift">Gift</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>Mã giảm giá: <span class="voucher">PS15571</span></div>
                    <div>Số mã giảm giá đã dùng:</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">40/100
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Gift -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>

</html>