<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic (~{::body})}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:replace="~{/cart/view::shopping-cart}"></div>
	<div class="card border border-1 border-primary mt-3">
		<div class="card-header bg-primary text-white">
			<h3 class="mt-2">ORDER PURCHASING</h3>
		</div>
		<div class="card-body" th:object="${user}">
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Username:</label>
					<div class="form-control" id="username">[[${#request.remoteUser}]]</div>
					<label for="exampleInputEmail1">Phone</label> <input type="text"
						class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Enter email"
						th:field="*{email}">
				</div>
				<div class="form-group col-sm-6">
					<label>Order Date:</label>
					<div class="form-control">{{order.createDate |
						date:'dd-MM-yyyy'}}</div>
						<label for="exampleInputEmail1">Phone</label>
					<input type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" placeholder="Nhập số điện thoại"
						th:field="*{phone}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>Shipping Address:</label>
					<!-- <input type="text"
						class="form-control" id="exampleInputEmail1"
						 placeholder="Nhập địa chỉ"
						th:field="*{address}" ng-model="order.address"> -->
					<textarea ng-model="order.address" rows="3" cols="30"
						class="form-control" th:field="*{address}"></textarea>
				</div>
			</div>
		</div>
		<div class="card-footer text-end w3-center">
			<button ng-click="order.purchase()" class="btn btn-success">Check Out</button>
		</div>
	</div>
</body>
</html>