<div xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout :: dynamic (~{::main})}">
	<main>
		<div class="soc-ngang">NEW ARRIVAL</div>
		<div class="caption"></div>
		<div class="container">
			<div class="row" id="noidung-1">
				<div class="col-sm-4">
					<a class="thumbnail mx-auto" href="#"> <img src="/img/img1.jpg"
						alt="">
						<div class="caption">NEW COLLECTION</div>
						<div></div>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="thumbnail mx-auto" href="#"> <img src="/img/img1.jpg"
						alt="">
						<div class="caption">NEW COLLECTION</div>
						<div></div>
					</a>
				</div>
				<div class="col-sm-4">
					<a class="thumbnail mx-auto" href="#"> <img src="/img/img1.jpg"
						alt="">
						<div class="caption">NEW COLLECTION</div>
						<div></div>
					</a>
				</div>
			</div>
		</div>
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne"
					style="background-color: black;">
					<h5 class="mb-0">
						<button
							style="margin-left: 45%; color: white; text-decoration: none; font-weight: bold;"
							class="btn btn-link" data-toggle="collapse"
							data-target="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne">NEW ARRIVAL</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse show"
					aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo"
					style="background-color: black;">
					<h5 class="mb-0">
						<button
							style="margin-left: 45%; color: white; text-decoration: none; font-weight: bold;"
							class="btn btn-link collapsed" data-toggle="collapse"
							data-target="#collapseTwo" aria-expanded="false"
							aria-controls="collapseTwo">NEW ARRIVAL</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordion">
					<div class="card-body">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree"
					style="background-color: black;">
					<h5 class="mb-0">
						<button
							style="margin-left: 45%; color: white; text-decoration: none; font-weight: bold;"
							id="btn_text" class="btn btn-link collapsed"
							data-toggle="collapse" data-target="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree">NEW
							ARRIVAL</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse"
					aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
		<div class="container">
			<table class="table table-dark" style="margin-top: 30px;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>0765230162</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@facboock</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</div>